.card{
    width: 100px;
    height: 130px;
}

.frontCard{
    display: none;
}

.behindCard{
    display: block;
}

.success{
    display: none;
}

.scoreTable *{
    width: 300px;
    border: 1px solid #444444;
}

.scoreTable td,.scoreTable tr{
    text-align: center;
}


